{% comment %}
Instruccion to use forms:
    1.- Include this template where you need.

    2.- Then, call the "function" argument, with the value = "openForm".
        {% include 'partials/forms.html' with function="openForm"%}

    3.- If you want to add extra classes to the form, yo can pass them to the "class" argument.
        {% include 'partials/forms.html' with function="openForm" class="text-right" %}

    4.- To close the form, include this template and call the "function" argument, with the  value "closeForm".
        open: {% include 'partials/forms.html' with function="openForm"%}
        close: {% include 'partials/forms.html' with function="closeForm"%}

    5.- Between these lines, write all the content that the form has, and it will automatically adapt to the main style of the page.
        {% include 'partials/forms.html' with function="openForm"%}
            <img src="logo.png" alt="logo">
            <form method="POST" action="{% url 'login' %}">
                <input type="text">
                <button></button>
            </form>
        {% include 'partials/forms.html' with function="closeForm"%}

Extra information:
    - If you want the form to have a different style than the page, you can do it with the "form_style" argument, specifing beetween styles "primary" or "secondary".
        {% include 'partials/forms.html' with function="openForm" form_style="primary" %}
            ...
        {% include 'partials/forms.html' with function="closeForm"%}
    This only go to change styles, if you wnat change logo colors, you need change it manually.
    
    - If you want set any CSS style, you can do it with the "style" argument.
        {% include 'partials/forms.html' with function="openForm" style="color:#000" %}
            ...
        {% include 'partials/forms.html' with function="closeForm"%}
    
    - It is no longer necessary to put the "col" class because because it is already included, and configured to adapt in the best way to the form. However, you can pass the offset "class" if you want to move the form to a specific place.
        {% include 'partials/forms.html' with function="openForm" class="offset-md-6" %}
            ...
        {% include 'partials/forms.html' with function="closeForm"%}

    How to use checkbox inputs or radio inputs
        -First your need have a form-group.
            <div class="form-group">
                
            </div>
        -If you need a checkbox input copy the follow, and paste into the form-group.
            <label class="content-input">
                <input type="checkbox" name="" id="" value="">Text-next-checkbox
                <i class="bi bi-check"></i>
            </label>
        -If you need a radio input copy the follow, and paste into the form-group.
            <label class="content-input">
                <input type="radio" name="" id="" value="">Text-next-checkbox
                <i></i>
            </label>
        -For have more of these inputs in the same option group remember that the attribute "name" must to be equal in those, and the attributes "id" and "value" must to be the value that you want send to the formulary when that option is selected.
{% endcomment %}

{% if function == "openForm" %}
    <div class="col-12 col-md-6 col-lg-5 {{ class }}">
        <div class="form m-auto px-4 pt-4 pb-5  {% if form_style %}form-{{ form_style }}{% endif %}" style="{{ style }}">
{% endif %}

{% if function == "closeForm" %}
        </div>
    </div>
{% endif %}

