{% load static %}
<footer id="footer" class="">
    <div class="container">
      <div class="row">
          <div class="col-12 col-sm-6 col-lg-1 text-center">
              <a href="#" class="nav-link">Registro</a>
          </div>
          <div class="col-12 col-sm-6 col-lg-1 text-center">
              <a href="#" class="nav-link">Contacto</a>
          </div>
          <div class="col-12 col-sm-6 col-lg-3 text-center">
              <a href="#" class="nav-link">Aviso de Privacidad</a>
          </div>
          <div class="col-12 col-sm-6 col-lg-3 offset-lg-2 text-center text-break">
              <a href="#" class="nav-link">contacto@OMICHH.org</a>
          </div>
          <div class="col-12 col-sm-6 offset-sm-3 offset-lg-0 col-lg-2 d-flex justify-content-center align-items-center">
            {% if style == "primary" %}
                <a href="" class="Redes"><img src="{% static 'img/white-facebook-logo.png' %}" alt="Facebook logo" class="Redes"></a>

                <a href="" class="Redes"><img src="{% static 'img/white-github-logo.png' %}" alt="Github logo" class="Redes"></a>

                <a href="" class="Redes"><img src="{% static 'img/white-twitter-logo.png' %}" alt="Twitter logo" class="Redes">
                </a>
            {% elif style == "secondary" %}
                <a href="" class="Redes"><img src="{% static 'img/blue-facebook-logo.png' %}" alt="Facebook logo" class="Redes"></a>

                <a href="" class="Redes"><img src="{% static 'img/blue-github-logo.png' %}" alt="Github logo" class="Redes"></a>

                <a href="" class="Redes"><img src="{% static 'img/blue-twitter-logo.png' %}" alt="Twitter logo" class="Redes">
                </a>
            {% endif %}
            
          </div>
      </div>
    </div>
  </footer>