{% extends 'base/base.html' %}

{% block head_content %}
    <title>OMICHH</title>
{% endblock head_content %}

{% load static %}

{% block container %}
    <div class="container mt-5 pt-3">
        <div class="row align-items-center justify-content-center">
            <div class="col-10 col-lg-5 mb-2">
                <h2 class="main-title">Buscamos a los mejores programadores de Chihuahua</h2>
                <p class="mt-3">La OMICHH es un concurso en el que sobre todo se requiere tener <strong>facilidad, habilidad y voluntad de resolver problemas</strong> utilizando la lógica, ingenio y las computadoras.</p>
                {% include 'partials/button.html' with text_content="Participa" type="submit" %}
            </div>
            <div class="col-10 col-lg-5 mt-5 mt-lg-0 align-self-center">
                <img src="{% static 'img/medallas.png' %}" alt="Medallas" class="img-fluid">
            </div>
        </div>
    </div>
    

{% endblock container %}