@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

html{
   font-family:'Noto Sans', sans-serif !important;
   min-height: 100%;
   position: relative;
   width: 100%;
}
body{
   margin-bottom: 18rem !important;
}
.style-primary {
   background: #0091BF;
}
.style-secondary {
   background: #ffffff;
}
h1{
   font-weight: 700;
}
.main-title {
   font-family: Fira Code;
   font-style: normal;
   font-weight: normal;
   font-size: 2.5rem;
}
.style-primary *{
   color: #ffffff;
}
.style-secondary *{
   color: #0091BF;
}
.bg-OMICHH{  
   background: #0091BF;
}

.text-OMICHH-1 p, .text-OMICHH-1 a, .text-OMICHH-1 h1, .text-OMICHH-1 h2, .text-OMICHH-1 h3, .text-OMICHH-1 h4, .text-OMICHH-1 h5, .text-OMICHH-1 h6{
   color: white !important;
   /* font-size:xx-small; */
}

.text-OMICHH-2{
   color: rgba(255, 255, 255, 0.8) !important;
   font-size:small;

}

.first-container{
   padding-top: 5rem;
   margin-top: 5rem;
}

/* HEADER */
.style-primary #header{
   background-color: #0091BF;
}
.style-secondary #header{
   background-color: #ffffff;
}
#header img{
   height: 40px;
}

#header span{
   width: 20px;
}

.navbar-toggler{
   height: 38px;
}

.style-primary .burger-white.navbar-toggler {
    border-color: white !important;
}
.style-secondary .burger-white.navbar-toggler {
   border-color: #0091BF !important;
}
/**/

/* FOOTER */
#footer{
   position: absolute;
   bottom: 0;
   width: 100%;
   padding-bottom: 2rem;
}
.Redes{
   height: 28px;
   text-decoration: none;
}
/**/

/* IMAGE */
.form .img-container {
   width: 50%;
}
/**/

/* INPUTS */
input, textarea{
   background: #ffffff !important;
   border: 2px solid #ffffff !important;
   box-sizing: border-box !important;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
   border-radius: 1.5rem !important;
}
.style-primary input{
   border-color: #ffffff !important;
}
.style-secondary input{
   border-color: #0091BF !important;
}
.form-primary input {
   border-color: #ffffff !important;
}
.form-secondary input {
   border-color: #0091BF !important;
}

textarea{
   resize: none !important;
   height: 250px !important;
}

select{
   background-color: #ffffff;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
   border: 2px solid #ffffff !important;
   border-radius: 0.5em;
}
.style-primary select {
   border-color: #ffffff !important;
}
.style-secondary select {
   border-color: #0091BF !important;
}
.form-primary select {
   border-color: #ffffff !important;
}
.form-secondary select {
   border-color: #0091BF !important;
}

.form form p{
   font-family: Noto Sans;
   font-style: normal;
   font-weight: bold;
   line-height: 1vh;
   padding-left: 1vw;
}
.style-primary .form-group p {
   color: #ffffff !important;
}
.style-secondary .form-group p {
   color: #0091BF !important;
}
.form-primary .form-group p {
   color: #ffffff !important;
}
.form-secondary .form-group p {
   color: #0091BF !important;
}
.form .error-container{
   background-color: #ffd8d8;
   width: fit-content;
   margin: auto;
   border: 2px solid #ec5f5f;
   border-radius: 0.5em;
   padding: 0.1em 0.5em;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}
.form .error{
   font-size: 0.7em;
   color: #d13131;
}
/**/

/* BUTTONS */
.btn {
   border-radius: 2rem !important;
   font-weight: 700 !important;
   background-color: #ffffff !important;
   box-sizing: border-box !important;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  
   font-family: Noto Sans !important;
   font-style: normal !important;
   font-weight: bold !important;
   line-height: 1vw;

   display: flex !important;
   align-items: center !important;
   text-align: center !important;

   color: #0091BF !important;

   min-width: 10rem !important;
   padding: 0.8em 1em !important;
}
.btn:hover{
   background-color: #e9e9e9 !important;
}
.btn:active{
   background-color: #ffffff !important;
}
.button-primary {
   border: 3px solid #ffffff !important;
}
.button-primary:hover {
   border-color: #e9e9e9 !important;
}
.button-primary:active {
   border-color: #ffffff !important;
   box-shadow: 0 0 0 0.25rem rgba(243, 243, 243, 0.5) !important;
}
.button-secondary {
   border: 3px solid #0091BF !important;
}
.button-secondary:hover {
   border-color: #0070b1 !important;
}
.button-secondary:active {
   border-color: #007cc3 !important;
   box-shadow: 0 0 0 0.25rem rgba(12, 141, 246, 0.5) !important;
}

.style-primary .button {
   border: 3px solid #ffffff !important;
}
.style-primary .button:hover {
   border-color: #e9e9e9 !important;
}
.style-primary .button:active {
   border-color: #ffffff !important;
   box-shadow: 0 0 0 0.25rem rgba(243, 243, 243, 0.5) !important;
}
.style-secondary .button {
   border: 3px solid #0091BF !important;
}
.style-secondary .button:hover {
   background-color: #e9e9e9 !important;
   border-color: #0069a7 !important;
}
.style-secondary .button:active {
   background-color: #ffffff !important;
   border-color: #007cc3 !important;
   box-shadow: 0 0 0 0.25rem rgba(0, 129, 235, 0.5) !important;
}
.form-primary .button {
   border: 3px solid #ffffff !important;
}
.form-primary .button:hover {
   background-color: #dfdfdf !important;
   border-color: #dfdfdf !important;
}
.form-primary .button:active {
   background-color: #ffffff !important;
   border-color: #ffffff !important;
   box-shadow: 0 0 0 0.25rem rgba(243, 243, 243, 0.5) !important;
}
.form-secondary .button{
   border: 3px solid #0091BF !important;
}
.form-secondary .button:hover {
   background-color: #dfdfdf !important;
   border-color: #0069a7 !important;
}
.form-secondary .button:active{
   background-color: #ffffff !important;
   border-color: #007cc3 !important;
   box-shadow: 0 0 0 0.25rem rgba(0, 129, 235, 0.5) !important;
}
/**/

/* FORMS */
.form {
   width: 90%;
   max-width: 330px;
   padding: 15px;
   margin: auto;
   border-radius: 30px !important;
}
.style-primary .form {
   background-color: #0091BF;
   mix-blend-mode: normal;
   border: 5px solid #ffffff;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 30px;
}
.style-secondary .form {
   background-color: #F7F7F7;
   mix-blend-mode: normal;
   border: 5px solid #0091BF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 30px;
}
.form-primary.form {
   background-color: #0091BF;
   mix-blend-mode: normal;
   border: 5px solid #ffffff;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 30px;
}
.form-secondary.form {
   background-color: #F7F7F7;
   mix-blend-mode: normal;
   border: 5px solid #0091BF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 30px;
}
.form-footer p{
   font-family: Noto Sans SC;
   font-style: normal;
   font-weight: 100;
   font-size: 0.8em;

   text-align: center;
}
.style-primary .form-footer p{
   color: #ffffff !important;
}
.style-secondary .form-footer p{
   color: #0091BF !important;
}
.form-primary .form-footer p {
   color: #ffffff !important;
}
.form-secondary .form-footer p {
   color: #0091BF !important;
}
.form-footer a{
   text-decoration: none;
   font-weight: 700;
   color: inherit;
}
/**/

/* MEDIA QUERIES */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
   body{
      margin-bottom: 12rem !important;
   }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
   
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   body{
      margin-bottom: 8rem !important;
   }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}
/**/