@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

html, body{
   font-family:'Noto Sans', sans-serif !important;
}

.btn {
    border-radius: 2rem !important;
    font-weight: 700 !important;
}

.bg-OMICH{  
   background: #0091BF;

}

.text-OMICH-1{
   color: white !important;
   font-size:xx-small;
}

.text-OMICH-2{
   color: rgba(255, 255, 255, 0.8) !important;
   font-size:x-small;

}

#header img{
   height: 40px;
   
}

#header span{
   width: 20px;
}

.navbar-toggler{
   height: 38px;
}

.burger-white.navbar-toggler {
    border-color: white !important;
}

.Redes{
    height: 28px;
    
}