{% extends 'users/base_secondary.html' %}

{% block head_content %}
    <title>Coach Administration</title>
{% endblock head_content %}

{% load static %}

{% block container %}
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-12 col-lg-5">
                <img src="{% static 'img/Team-amico.png' %}" class="img-fluid" alt="Team de programadores">
            </div>
            <div class="col mt-3">
                {% include 'partials/search_bar.html' with  placeholder="Buscar Alumno" idInput="wanted_student" nameInput="wanted_student"%}
                {% comment %} <div class="search-container">
                    <form class="d-flex">
                        <input class="form-control search-input" type="search" placeholder="Buscar Alumno" aria-label="Search">
                        <button class="justify-content-center" type="submit">
                            <div class="lens-search"></div>
                        </button>
                    </form>
                </div> {% endcomment %}
            </div>
        </div>
        <div class="row">

        </div>
        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>No.</td>
                    <td>Alumno</td>
                    <td>Categoría</td>
                    <td>Usuario Omegaup</td>
                    <td>Correo</td>
                    <td>Teléfono</td>
                    <td>Configuración</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-break">1</td>
                    <td>Nombre Nombre Apellido Apelido</td>
                    <td>OMIP</td>
                    <td class="text-break">Adrigondo</td>
                    <td class="text-break">theadrigondo24@gmail.com</td>
                    <td class="text-break">6140000000</td>
                    <td class="">
                        <div class="d-flex justify-content-center align-items-center flex-wrap">
                            {% include 'partials/button.html' with text_content="Editar" classes="edit-button" classesContainer="button-table" %}
                            {% include 'partials/button.html' with text_content="Eliminar" classes="delete-button" classesContainer="button-table" %}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock container %}