{% extends 'users/base.html' %}

{% block head_content %}
    <title>Coach Administration</title>
{% endblock head_content %}

{% load static %}

{% block container %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6">
                <img src="{% static 'img/Team-amico.png' %}" class="img-fluid" alt="Team de programadores">
            </div>
            <div class="col">
                {% include 'partials/search_bar.html' with  placeholder="Buscar Alumno" idInput="wanted_student" nameInput="wanted_student"%}
                {% comment %} <div class="search-container">
                    <form class="d-flex">
                        <input class="form-control search-input" type="search" placeholder="Buscar Alumno" aria-label="Search">
                        <button class="justify-content-center" type="submit">
                            <div class="lens-search"></div>
                        </button>
                    </form>
                </div> {% endcomment %}
            </div>
        </div>
        <div class="row">

        </div>
    </div>
{% endblock container %}