{% extends 'users/base_register.html' %}

{% block container %}
    <div class="container">
        <div class="row">
            {% include 'partials/forms.html' with function="openForm" class="m-auto"%}
                <div class="form-group">
                    <label class="content-input">
                        <input type="checkbox" name="category" id="" value="OMI">OMI
                        <i class="bi bi-check"></i>
                    </label>
                    <label class="content-input">
                        <input type="checkbox" name="category" id="" value="OMIS">OMIS
                        <i class="bi bi-check"></i>
                    </label>
                    <label class="content-input">
                        <input type="checkbox" name="category" id="" value="OMIP">OMIP
                        <i class="bi bi-check"></i>
                    </label>
                </div>
            {% include 'partials/forms.html' with function="closeForm" %}
        </div>
    </div>
{% endblock container %}